*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(255, 198, 0); */
  background-color: #9B7653;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding:7px 10px 7px 10px;
  border-radius: 5px;
  border:none;
  background-color: rgba(255,255,255,0.7);
}

.score{
  font-size: 4em;
  margin-bottom: .5em;
}

.board{
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
}

.hole{
  position: relative;
  overflow: hidden;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  bottom: -30px;
}
  
.hole .mole{
  height:120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: rise .3s ease-out;
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
